*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
     
}

body{
    background:black;
    background-image:url(../Images/background.png);
    background-size:cover;
    overflow-y: scroll;
    height: 150%;
    width: 75%;
    background-color: #fff;
}