/* OpenSauceOne Fonts (regular, bold, italic, bold+italic)*/
@font-face {
    font-family: "OpenSauceOne";
    src: url("../Fonts/OpenSauceOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OpenSauceOne";
    src: url("../Fonts/OpenSauceOne-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "OpenSauceOne";
    src: url("../Fonts/OpenSauceOne-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "OpenSauceOne";
    src: url("../Fonts/OpenSauceOne-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'OpenSauceOne';    
}

li{
    list-style: none;
}

a{
    text-decoration: underline;
    color: #000;
    font-size: 1.25rem;
}

a:hover{
    color: #00008b;
}

/* Navigation Bar */
.navbar{
    position: relative;
    width: 100%;
    height: 3.75rem;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    position: relative;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    color: #00008b;
}
.navbar .links{
    display: flex;
    gap: 3rem;
    color: #00008b;
}
.navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: #00008b;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 1.25rem;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: #fff;

}
.action_btn:active{
    scale: 0.95;

}

/* Search Bar */
.searchbar {
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 20rem;
    padding-right: 20rem;
}

#searchbarInput {
    position: relative;
    width: 100%;
    height: 2.8rem;
    outline: none;
    background: #f5f5f5;
    border-radius: 1.625rem;
    padding: 0rem 3.5rem 0 1.5rem;
    font-size: 1rem;
}

/* Queries and Messages*/
.queriesheading {
    text-align: center;
    background-color: #00008b;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    margin-top: 2rem;
    z-index: 1;
    display: inline-block;
    justify-content: center;
}

.queries{
    position: relative;
    margin-top: 2rem;
    /*width:100%*/
    z-index: 2;
}
#queriesInput {
    width: 38rem;
    height: 2.8rem;
    outline: none;
    background: whitesmoke;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;  
}
#queriesMessage {
    width: 38rem;
    height: 25rem;
    outline: none;
    background: whitesmoke;
    border-radius: 1.625rem;
    padding: 0rem 3.5rem 0 1.5rem;
    font-size: 1rem;
}
.send_msg {
    background-color: #00008b;
    color: #FFFFFF;
    display: inline-block;
    border-radius: 1rem;
    padding: 0.25rem 1.2rem 0.25rem 1.2rem;
}
.send_msg:hover{
    scale: 1.05;
    color: #FFFFFF;

}
.send_msg:active{
    scale: 0.95;

}

/* FAQ */
.FAQHEADING {
    background-color: #00008b;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    position: relative;
    margin-top: 2rem;
    text-align: center;
    z-index: 3;
    height: 2rem;
}
.FAQ {
    height: 20rem;
    background-color: white; 
    text-align: left;
    position: relative;
    z-index: 4;
    
}

h2 {
    color:#00008b;
}

h1 {
    margin: 0;                 
    color: #00008b;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}
  
p {
font-size: 1.25rem;
margin: 0.625rem 0 0;         
color: #000000;
text-align: left;
}

h6 {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.563rem;
  }
  
.logo-text {
    background-color: white;
    color: black;
    font-size: 10vw; 
    font-weight: bold;
    margin: 0 auto; 
    padding: 0.625rem;
    width: 50%;
    text-align: center; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    mix-blend-mode: screen;
}

.logo-image-container {
    background-size: cover;
    position: relative; 
    height: 18.75rem;
  }

.side-image {
    width: auto;
    height: 18.75rem;
    margin-right: 1.25rem;
    border-radius: 0.5rem;
}

.background {
    background-color: white;
    padding: 1.25rem;
    border-radius: 0.625rem;
    text-align: center;
    flex-grow: 1;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
}

.slogan {
    background-color: rgba(0, 0, 0, 0.7); 
    backdrop-filter: blur(0.938rem);    
    border-radius: 0.25rem;
    text-align: center;         
    flex-grow: 1;               
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 0.313rem;
    padding-bottom: 0.313rem;
    clear: both;
}

.polaroid {
    width: 17rem;
    background-color: whitesmoke;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 0.625rem;
    gap: 3rem;
}

.poltext {
    text-align: center;
    padding: 0.938rem 1.25rem;
}
  
.polaroid img {
    width: 100%;
}

.poltext a {
    color: black; 
    text-decoration: none; 
    font-size: 1.3rem; 
}

.poltext a:hover {
    text-decoration: underline; 
    color: #00008b; 
}

/*DROP DOWN MENU*/
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 992px)
{
    body{
        width: auto;
        background:black;
        background-image:url(../Images/background.jpg);
        background-repeat: no-repeat;
        background-position: center-top;
        background-color: #000;
        background-attachment: fixed;
        background-size: cover;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slogan {
        background-color: rgba(0, 0, 0, 0.7); 
        backdrop-filter: blur(0.938rem);    
        border-radius: 0.25rem;
        text-align: center;
        flex-grow: 1;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 0.313rem;
        margin-top: -60%;
        padding-bottom: 0.313rem;
        clear: both;
    }

    .logo-text {
        background-color: white;
        color: black;
        font-size: 10vw; 
        font-weight: bold;
        margin: 0 auto; 
        padding: 0.625rem;
        width: 90%;
        text-align: center; 
        position: absolute; 
        top: -15%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        mix-blend-mode: screen;
        z-index: 1;
    }
    
    .logo-image-container {
        background-size: cover;
        position: relative; 
        height: 18.75rem;
      }

    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }

    .dropdown_menu{
        left: 2rem;
        width: unset;
    }

    /* Search Bar */
    .searchbar {
        margin: 0 auto;
        display: flex;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        height: 100vh;
        background:black;
        background-image:url(../Images/background.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #000;
    }

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        max-width: 70%;
        margin: 0 auto;
    }
  }