/* OpenSauceOne Fonts (regular, bold, italic, bold+italic)*/
@font-face {
    font-family: "OpenSauceOne";
    src: url("../Fonts/OpenSauceOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OpenSauceOne";
    src: url("../Fonts/OpenSauceOne-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "OpenSauceOne";
    src: url("../Fonts/OpenSauceOne-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "OpenSauceOne";
    src: url("../Fonts/OpenSauceOne-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

footer {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: 20px 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    color: gray;
    font-size: 0.5rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'OpenSauceOne';    
}

body{
    width: auto;
    background:whitesmoke;
    height: 100%;
}

li{
    list-style: none;
}

a{
    text-decoration: underline;
    color: #000;
    font-size: 1.25rem;
}

a:hover{
    color: #00008b;
}

/* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.75rem;
    z-index: 1000;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

.background-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    background-image: url('../Images/background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.logo-text {
    background-color: white;
    color: black;
    font-size: 10vw; 
    font-weight: bold;
    text-align: center; 
    margin: 0;
    mix-blend-mode: screen;
    padding: 1rem;
}

.slogan {
    background-color: rgba(0, 0, 0, 0.7); 
    backdrop-filter: blur(0.938rem);    
    border-radius: 0.25rem;
    text-align: center;         
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
    margin-top: 1rem; 
    padding: 0.5rem 1rem; 
}

.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in-out; 
}

body.loaded .fade-in {
    opacity: 1;
}

.text-box {
    background-color: white; 
    padding: 2rem 3rem; 
    border-radius: 0.5rem; 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); 
    text-align: left; 
    max-width: 90%;
    margin: 0 auto;
}


.text-box h1 {
    text-align: center; 
    margin: 0 0 1rem 0; 
    font-size: 5rem; 
    color: #00008b;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}

.text-box p {
    margin: 0; 
    font-size: 1rem; 
    color: #000; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-box img {
    max-width: 50%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}



.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    color: #00008b;
}
.navbar .links{
    display: flex;
    gap: 3rem;
    color: #00008b;
}
.navbar .toggle_btn{
    color: #00008b;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: #00008b;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
    text-decoration: none;
    display: inline-block;
}

.action_btn:hover {
    transform: scale(1.05);
    color: #fff;
}

.action_btn:active {
    transform: scale(0.95);
}

/* Search Bar */
.searchbar {
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

#searchbarInput {
    position: relative;
    width: 100%;
    height: 2.8rem;
    outline: none;
    background: #f5f5f5;
    border-radius: 1.625rem;
    padding: 0rem 3.5rem 0 1.5rem;
    font-size: 1rem;
}

.queries{
    position: relative;
    margin-top: 2rem;
    z-index: 2;
}

#queriesInput {
    width: 90%;
    height: 2.8rem;
    outline: none;
    background: whitesmoke;
    border-radius: 1rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
    margin: 1rem;
}

#queriesMessage {
    width: 90%;
    height: 25rem;
    outline: none;
    background: whitesmoke;
    border-radius: 1rem;
    padding: 0rem 3.5rem 0 1.5rem;
    font-size: 1rem;
    margin: 1rem;
}
.send_msg {
    background-color: #00008b;
    color: #FFFFFF;
    display: inline-block;
    border-radius: 1rem;
    padding: 0.25rem 1.2rem 0.25rem 1.2rem;
    text-decoration: none;
}

.send_msg:hover{
    scale: 1.05;
    color: #FFFFFF;

}
.send_msg:active{
    scale: 0.95;

}

/* FAQ */
.FAQHEADING {
    background-color: #00008b;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    position: relative;
    margin-top: 2rem;
    text-align: center;
    z-index: 3;
    height: 2rem;
}
.FAQ {
    height: 20rem;
    background-color: white; 
    text-align: left;
    position: relative;
    z-index: 4;
    
}

h2 {
    color:#00008b;
}

h1 {
    margin: 0;                 
    color: #00008b;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}
  
p {
font-size: 1.25rem;
margin: 0.625rem 0 0;         
color: #000000;
text-align: left;
}

h6 {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.563rem;
  }

.side-image {
    width: auto;
    height: 18.75rem;
    margin-right: 1.25rem;
    border-radius: 0.5rem;
}

.background {
    background-color: white;
    padding: 1.25rem;
    border-radius: 0.625rem;
    text-align: center;
    flex-grow: 1;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    margin: 0 auto;  
    max-width: 100%;
}

.polaroid {
    width: 300px;  /* Fixed width for the Polaroid */
    height: 300px; /* Fixed height for the Polaroid */
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 2px;
    overflow: hidden;
  }
  
  .polaroid img {
    width: 100%;
    height: auto; 
    object-fit: cover;
  }
  
  .polaroid .caption {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    color: #333;
  }

/*DROP DOWN MENU*/
.dropdown_menu{
    display: none;
    position: fixed;
    right: 2rem;
    top: 100px;
    height: 0;
    width: 300px;
    background: whitesmoke;
    border-radius: 3px;
    overflow: hidden;
    z-index: 10;
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    display: none; 
}
.content:first-of-type {
    display: block;
}

.button-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    z-index: 1000; /* Ensures the buttons are above other content */
}

button {
    background-color: #00008b;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s ease;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) and (max-width: 992px)
{

    .body {
        background-position : center;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }

    .dropdown_menu{
        left: 2rem;
        width: unset;
    }

    #queriesInput {
        width: 100%;
        height: 2.8rem;
        outline: none;
        background: whitesmoke;
        border-radius: 1.625rem;
        padding: 0 3.5rem 0 1.5rem;
        font-size: 1rem;  
    }
    #queriesMessage {
        width: 100%;
        height: 25rem;
        outline: none;
        background: whitesmoke;
        border-radius: 1.625rem;
        padding: 0rem 3.5rem 0 1.5rem;
        font-size: 1rem;
    }

    .FAQHEADING {
        background-color: #00008b;
        color: white;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: scale 0.2 ease;
        position: relative;
        margin-top: 2rem;
        text-align: center;
        z-index: 3;
        height: 2rem;
    }
    .FAQ {
        height: 100%;
        background-color: white; 
        text-align: left;
        position: relative;
        z-index: 4;
        
    }
}